<div class="row no-gutters" id="cental_panel" >
  <div class="col-md-2"></div>

  <div class="col-md-8" >
    <div class="card">
      <div class="card-header h4"> Stealth Drone Deliveries</div>
      <div class="card-body">

        <button class="btn btn-outline-primary">primary button</button>
        <button class="btn btn-outline-secondary">secondary button</button>
        <button class="btn btn-outline-success">success button</button>
        <button class="btn btn-outline-info">info button</button>

        <span class="text-success"> Severe warning!!</span>

        <p>
          Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui,
          non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.
          Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.
          Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna.
          Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et
          interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem
          tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis
          faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices
          posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque
        </p>

        <app-my-inset></app-my-inset>


      </div>

      <div *ngIf="g.admin">ADMIN MODE</div>


      <div class="card-footer">
        <div class="text-right">
          <button class="btn btn-outline-info" *ngIf="g.admin">submit</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-2"></div>
</div>


