//.trow {
//  border-top: 1px rgba(255, 255, 255, 0.73) solid;
//}
* {
  //margin: 0;
  //padding: 0;
  box-sizing: border-box;
  //font-family: ;
}
.table thead th {
  vertical-align: bottom;
  border-top: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
  background: #ffffff;
}

.box .glass{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100% ;
  display: block;
  background: rgba(255,255,255,.1);
  pointer-events: none;
}
.box .content {
  padding:20px;
  color: #fff;
}

.box {
  //background-color: rgba(68,68,68,0.9);
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  //margin: 40px;
}
.box:before
{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #ffffff;
  z-index: -1;
}
.box:after
{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #ffffff;
  z-index: -1;
  filter: blur(40px);
}

.box:nth-child(1):before,
.box:nth-child(1):after
{
  background: linear-gradient(235deg, #030000,#010615, #020000);
}
.box:nth-child(2):before,
.box:nth-child(2):after
{
  background: linear-gradient(235deg,#ff005e,#010615, #00ff7b);
}
.box:nth-child(3):before,
.box:nth-child(3):after
{
  background: linear-gradient(235deg,#772aff,#010615,#2196F3);
}

.card-header {
  color: #ffffff;
  background-color: transparent;
  text-align: center;
}
.card {
  background-color: transparent;
}
.card-light {
  min-width: 55vw;
  width:auto;
}
.card-footer {
  background-color: transparent;
}



.footer {
  position: running();
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

//checkboxy tutaj

input {
  display: none;
}


label {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}

label span {
  position: relative;
  line-height: 22px;
}

label span:before,
label span:after {
  content: '';
}

label span:before {
  border: 1px solid rgba(255, 255, 255, 0.6);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}

.emptybox {
  height: 31px;
  width: 32px;
  border: 0.5px solid #a9a9a9;
  display: inline-block;
}

.selectedbox {
  height: 31px;
  width: 32px;
  background:url(src/assets/x1-01.png) no-repeat top left;
  border: 1px solid #ffffff;
  display: inline-block;
}

@media (max-width:1300px) {
  #godlo {
    display: none;
  }
}

label span:after {
  padding-left:25px;
  background:url(src/assets/x1-01.png) no-repeat top left;
  display: inline-block;
  zoom: 1;
  *display:inline;
  //background: red;
   width: 30px;
   height: 30px;
   position: absolute;
   top: -2px;
   left: 0px;
  vertical-align: top;
   transition: 300ms;
   opacity: 0;
 }
label input:checked+span:after {
  opacity: 1;
}

@media (min-width: 544px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
