
.card {
  background-color: rgba(68,68,68,0.9);
}

.card-header {
  color: lightgray;
  background-color: rgba(68,68,68,0.9);
}




@media (min-width: 544px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
