
<div class="row">
  <div class="col-md-6">

    <div class="box">

      <div class="content">
        <div class="card-light" style=" width: 800px;">
      <div class="card-header h3">
        {{vote_title}}
      </div>
      <div class="card-body">

        <!-- rysujemy wszystkie wybory dostępne wyborcy -->


        <table class="table table-hover">
          <thead class="thead">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Kandydat</th>
            <th scope="col"></th>
            <th scope="col">Wybór</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let choice of choices">
            <td class="h5">{{choice.choiceid}}  </td>
            <td class="h5">{{choice.title}}</td>
            <td>
              <img [src]="choice.url" height="80">
            </td>
            <td>
              <button class="btn btn-outline-light"
              [ngClass]="{'btn-success':choice.selected}"
                      (click)="select(choice)">  wybierz  </button>
            </td>
          </tr>

          </tbody>
        </table>

      </div>

  </div>



</div>
    </div>
  </div>

  <div class="col-md-6" >
    <img src="assets/g.png" alt="godlo Polski" class="center mr-5  " width="400px" align="right"  >
    </div>
</div>



    <div class="footer">

    <br/>
      <br/>
      <p>Footer</p>
      <br/>
      <br/>
    </div>
