
<div class="row no-gutters">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="box">
      <div class="content">
        <div class="card">
          <div class="card-header h2">
            {{vote_title}}
          </div>
          <div class="card-body">
            <!-- rysujemy wszystkie wybory dostępne wyborcy -->
            <table class="table table-borderless">
              <thead class="thead">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Kandydat</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let choice of choices" (click)="select(choice)"
                  class="clickable"
                  [ngClass]="{'selected': choice==selected}">
                <td class="h5">{{choice.visibleid}}  </td>
                <td class="h5">{{choice.title}}</td>
                <td>
                  <img [src]="choice.url" height="80" alt="(kandydat)">
                </td>
              </tr>
              </tbody>
            </table>

          </div>

          <div class="card-footer text-center">
            <button class="btn btn-outline-info btn-lg"
                    title="Głos zostanie przesłany do systemu wyborczego; jego cofnięcie nie będzie już możliwe!"
                    (click)="vote()"
            >Oddaj wiążący głos</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



