<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 arena">

        <div class="vbox">
          <img class="hfit" src="/assets/bear.png">
        </div>

        <div class="vbox" style="width: 150px; height: 600px">
          <img class="hfit" src="/assets/bear.png">
        </div>

        <div class="vbox" style="width: 220px; height: 600px">
          <img class="hfit" src="/assets/bear.png" >
        </div>

        <div class="vbox" style="width: 600px">
          <img class="hfit" src="/assets/bear.png">
        </div>

  </div>
  <div class="col-md-1"></div>
</div>
