<div class="row no-gutters">
  <div class="col-md-4"></div>
  <div class="col-md-4 mt-5">
    <div class="card">
      <div class="card-header h4">Login</div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="text"  class="form-control" id="un" name="user"
                     placeholder="User" [(ngModel)]="user">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="password" class="form-control" id="pa" name="password"
                     placeholder="Password" [(ngModel)]="pass">
            </div>
          </div>
          <p class="text-right">

            <button class="btn btn-outline-info" (click)="login()">Login</button>
          </p>
        </form>
      </div>
    </div>

  </div>
  <div class="col-md-4"></div>
</div>
