<nav class="navbar navbar-expand-md bg-dark navbar-dark nav-fill" id="topbar">

  <img class="navbar-brand d-none d-sm-block" src="assets/logo_color.png" id="brand_pic">
  <a class="navbar-brand" href="#">vote2020</a>


<!--  <div class="collapse navbar-collapse justify-content-left" id="nav1">-->
<!--    <ul class="navbar-nav" >-->
<!--      <li class="nav-item mr-3">-->
<!--        <a class="nav-link" href="#" [routerLink]="['/products']">gallery </a>-->
<!--      </li>-->
<!--      <li class="nav-item mr-3">-->
<!--        <a class="nav-link" href="#" [routerLink]="['/stats']">tracking </a>-->
<!--      </li>-->

<!--      <li class="nav-item mr-3">-->
<!--        <a class="nav-link" href="#" [routerLink]="['/fit']">fit </a>-->
<!--      </li>-->

<!--      <li class="nav-item mr-3">-->
<!--        <a class="nav-link" href="#" [routerLink]="['/blog']">blog </a>-->
<!--      </li>-->
  <!--    </ul>-->
<!--  </div>-->

<!--  <button class="navbar-toggler" type="button"-->
<!--          data-toggle="collapse"-->
<!--          data-target="#nav1"-->
<!--          aria-controls="nav1"-->
<!--          aria-expanded="false">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

</nav>
