<div class="row no-gutters">
  <div class="col-sm-12">
<!--    <div class="mask">-->
<!--      <div class="row">-->
<!--        <div class="col-xl-2"></div>-->
<!--        <div class="col-sm-12 col-xl-8 p-5">-->

<!--          <div class="jumbotron">-->
<!--            <h1 class="display-4">Secret, precise, air-delivery</h1>-->
<!--            <p class="lead">-->
<!--              We believe in privacy.-->

<!--              Have your shipments of up to 300kg<sup>x</sup> forwarded from our hubs in Kosovo or Lviv, and-->
<!--              airdropped at the place of your choosing overnight.-->
<!--              </p>-->
<!--            <hr class="my-4">-->
<!--            <p>No questions asked. Any bluetooth device is a good location baecon.</p>-->
<!--            <a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="['/products']">Learn more</a>-->
<!--          </div>-->
<!--          <div class="col-xl-2"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

        <div class="vbox">
          <img class="videox" src="/assets/x47_.jpeg">
        </div>

        <div class="vbox" style="width: 150px; height: 600px">
          <img class="videox" src="/assets/x47_.jpeg">
        </div>

        <div class="vbox" style="width: 800px">
          <img class="videox" src="/assets/x47_.jpeg">
        </div>

<!--    <img class="videoz" src="/assets/x47_.jpeg">-->


<!--          <video class="videoz" src="https://guam.wsi.edu.pl/share/x47b.mp4"-->
<!--                 [autoplay]="true" [muted]="true" [loop]="true" playsinline>-->
<!--          </video>-->
  </div>
</div>

