<div class="row no-gutters" id="productpage">
<div class="col-md-10 main-page">

  <app-product-card *ngFor="let c of cards.slice(0, 10)" class="p-card"
                    [info]="c"
                    (click)="edit_card(c)"
                    data-toggle="modal"
                    data-target="#editModal"
  ></app-product-card>

</div>

<div class="col-md-2 side-panel">
  <div class="text-center" *ngIf="g.admin">
    <h4>Admin panel</h4>
    <button class="btn btn-outline-light"
            (click)="new_card()"
            data-toggle="modal"
            data-target="#editModal"
    >dodaj</button>
  </div>
</div>


</div>



<div class="modal" id="editModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title "><strong>Edycja karty</strong></h4>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Tytuł</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="title"
                     name="title" [(ngModel)]="editedCard.title">
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Tekst</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="text"
                     name="text" [(ngModel)]="editedCard.text">
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Zasób wizualny</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="url"
                     name="url" [(ngModel)]="editedCard.url">
            </div>
          </div>
        </form>

        <div class="modal-footer">
          <button class="btn btn-outline-danger btn-sm" data-dismiss="modal" (click)="delete_card()">Usuń</button>

          <button class="btn btn-outline-info mr-1" data-dismiss="modal" (click)="cancel()"> Porzuć</button>
          <button class="btn btn-outline-info" data-dismiss="modal" (click)="accept()">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
