<div class="modal" id="mod" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" [ngClass]="bgclass">
        <h4 class="modal-title"><strong>{{title}}</strong></h4>
      </div>
      <div class="modal-body">
        <div>
          <p> {{msg}}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-info mr-1" data-dismiss="modal" *ngIf="cancel">{{cancel}}</button>
          <button class="btn btn-outline-info" data-dismiss="modal" (click)="accept()">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
